{% extends "base.html" %}
{# Load the tag library #}
{% load staticfiles %}
{% load bootstrap3 %}

{% block specific-css %}
    <link href="{% static 'AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet">    
{% endblock %}

{% block page-title %}{% endblock %}
{% block page-description %}{% endblock %}

{% block content %}
    <div class="box box-info">
        <div class="box-header with-border">
            {% block new_button %} {% endblock %}
        </div>
        <form method="post" class="form-horizontal">
            <div class="box-body">
                {% block content-pre-table %} {% endblock %}
                <table id="lista-data-table" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%">
                    {% block cabecera_tabla %}
                    {% endblock cabecera_tabla %}
                    {% block cuerpo_tabla %}
                    {% endblock cuerpo_tabla %}
                </table>
                {% block content-post-table %} {% endblock %}
            </div>
        </form>
    </div>
    {% block secondary_content %}
    {% endblock secondary_content %}
{% endblock %}
{% block specific-js %}
    <script src="{% static 'AdminLTE-2.3.11/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
     <script>
        $(document).ready(function() {
            $('#lista-data-table').DataTable({
                "dom": 'Bfrtip',                
                "order": [[ 2, "asc" ]]
            });
        } );
    </script>
{% endblock %}