{% load staticfiles %}
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less. https://fontawesome.com/v4.7.0/icons/ -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">Menu</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="treeview">
                <a href="#"><i class="fa fa-calendar"></i> <span>Project</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'historias:create-proyecto' 1 %}">Add project</a></li>
                    <li><a href="{% url 'historias:list-proyecto' 1 %}">List projects</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-share-alt-square"></i> <span>Microservices</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Add Microservices-based App.</a></li>
                    <li><a href="#">List Microservices-based Apps</a></li>
                </ul>
            </li>  
            <li>
                <a href="#"> 
                    <i class="fa fa-book"></i>
                    <span>Documentation</span>
                </a>
            </li>                            
                          
                <!--
                <li class="treeview">
                    <a href="#"><i class="fa fa-id-card"></i> <span>Test</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#">Registrar Resultado</a></li>                        
                        <li><a href="#">Listar Test</a></li>                        
                    </ul>
                </li>            
                <li class="treeview">
                    <a href="#"><i class="fa fa-calendar"></i> <span>Plan de entrenamiento</span>
                        <span class="pull-right-container">    
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#">Registrar Plan</a></li>
                        <li><a href="#">Listar Plan</a></li>
                        <li><a href="#">Calendario de sesiones</a></li>                        
                    </ul>
                </li>                                         
                -->                
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>