{% extends "base_list.html" %}
{# Load the tag library #}
{% load staticfiles %}
{% load bootstrap3 %}

{% block page-title %}Microservices Backlog{% endblock %}
{% block page-description %}Create and manage microservices-based applications and decompositions{% endblock %}

<div class="box box-primary">    
    <div class="box-body">        
        <div class="row">                                    
            {% block cabecera_tabla %}
            <div class="box-header blue-border">
                <h2 class="box-title"><strong>Usuario: {{ usuario.nombre }}</strong></h2>
                <div class="box-title pull-right">                
                    <img class="img-circle" src="{% static 'images/perfil_defecto.png' %}" alt="Escudo" width="40" height="40">                
                </div>
            </div> 
            <div class="panel panel-info"> 
                <div class="panel-body">         
                    <a href="{% url 'microservicios:create-msapp' usuario.id %}" title="Add microservices-based App.">
                            <img src="{% static 'images/add_16.png'%}"/> Add Microservices-based App.
                    </a>
                </div>
            </div>                        
            <thead>
                <tr>                    
                    <th>Name</th>
                    <th>Project</th>        
                    <th>Method</th>        
                    <th>GM</th>
                    <th>Options</th>
                </tr>
            </thead>
            {% endblock cabecera_tabla %}
            {% block cuerpo_tabla %}                
                {%  if listaMsapp %}
                <tbody>
                    {% for msapp in listaMsapp %}
                    
                        <tr>
                            <td><a href="{% url 'microservicios:detail-msapp' msapp.id  %}" title="Details">{{ msapp.nombre }}</a></td>                            
                            <td>{{ msapp.proyecto.nombre }}</td>
                            <td>{{ msapp.metodo.nombre }}</td>
                            <td>{{ msapp.valor_GM|floatformat:2 }}</td>                            
                            <td>
                                <a href="{% url 'microservicios:edit-msapp' usuario.id msapp.id %}" title="Edit">
                                    <img src="{% static 'images/edit_16.png'%}"></img>
                                </a>
                                <a href="{% url 'microservicios:delete-msapp' usuario.id msapp.id %}" title="Delete">
                                    <img src="{% static 'images/delete_16.png'%}"></img>
                                </a>
                                <a href="{% url 'microservicios:list-microservicios' msapp.id %}" title="Microservices">
                                    <img src="{% static 'images/servicios.png'%}"></img>
                                </a>
                                <a href="{% url 'metricas:calculate-metrics' msapp.id %}" title="Metrics">
                                    <img src="{% static 'images/metrics.png'%}"></img>
                                </a>
                                {%  if msapp.metodo.id == 1 %}
                                <a href="#" title="Genetic programming">
                                    <img src="{% static 'images/genetico.png'%}"></img>
                                </a>
                                {% endif %}
                                {%  if msapp.metodo.id == 2 %}
                                <a href="{% url 'algoritmos:clustering-algoritmo' msapp.id %}" title="Clustering">
                                    <img src="{% static 'images/cluster.png'%}"></img>
                                </a>       
                                {% endif %}                                                         
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                <tbody>
                    <tr>
                        <td>There are not microservices-based apps or decompositions</td>
                        <td></td>                        
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
                {% endif %}                               
            {% endblock cuerpo_tabla %}
            {% block secondary_content %}
            <div class="panel panel-info"> 
                <div class="panel-body">   
                <center>
                    
                    <a href="/index/">
                            {% bootstrap_button "Return to index" button_type="button" button_class="btn-primary"%}
                    </a>
                </center>                         
                </div>
            </div>
            {% endblock secondary_content %}
        </div>
    </div>    
</div>