{% extends "base.html" %}
{# Load the tag library #}
{% load staticfiles %}
{% load bootstrap3 %}

{% block page-title %}Microservices Backlog{% endblock %}
{% block page-description %}Clustering Algorithm - Group user stories in Microservices{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h2 class="box-title">Project: {{ msapp.proyecto.nombre }}</h2><br>            
            <h2 class="box-title">Application: {{ msapp.nombre }}</h2>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">                                            
            <div class="panel panel-info">                                                       
                <div class="panel-body">                    
                    <form method="post" action="{% url 'algoritmos:clustering-algoritmo' msapp.id %}" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><strong>Method:</strong></td>
                                    <td>
                                        <input type="text" id="metodo" name="metodo" value="{{ msapp.metodo.nombre }}" readonly="readonly" class="form-control"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Grouper parameter:</strong></td>
                                    <td>
                                        <input type="number" id="parameter" name="parameter"  min="0.50" max="1.00" step="0.05" value="0.85" class="form-control"/>
                                    </td>
                                </tr>                            
                                <tr>
                                    <td><strong>Text language:</strong></td>
                                    <td>
                                        <select id="lenguaje" name="lenguaje" class="form-control" >
                                            <option value="es" selected>Spanish</option>
                                            <option value="en">English</option>                                            
                                        </select>                                
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Semantic similarity on:</strong></td>
                                    <td>
                                        <select id="semantic" name="semantic" class="form-control" >
                                            <option value="lemma" selected>Lemmatization of entities</option>
                                            <option value="text" >Text of entities</option>                                                                                        
                                        </select>                                
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Spacy module: </strong></td>
                                    <td>
                                        <select id="modulo" name="modulo" class="form-control" >
                                            <option value="sm" selected>Small (Faster)</option>
                                            <option value="md" >Medium (More precise)</option>                                                                                        
                                        </select>                                
                                    </td>
                                </tr>                                         
                            </tbody>
                        </table>
                        <center>
                            <div class="box-footer">
                                <input type="submit" value="Generate" class="btn btn-primary"/>
                                <a href="{% url 'microservicios:list-msapp' msapp.proyecto.usuario.id %}">
                                    {% bootstrap_button "Cancel" button_type="button" button_class="btn-primary"%}
                                </a>
                            </div>
                        </center>
                    </form>
                    {%  if lista %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User Storie</th>
                                <th>Similarity</th>                                                                       
                            </tr>
                        </thead>
                        <tbody> 
                            
                            <tr>
                                
                                <td>{{ dato }}</td>          
                                                          
                            </tr>                            
                            
                        </tbody>
                    </table>
                    {% endif %}
                    <div id="divHUAsociadas" class="panel panel-primary">
                        <div class="panel-heading">Microservices</div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id.</th>
                                        <th>Name</th>
                                        <th>User stories</th>        
                                        <th>Points</th>        
                                        <th>Dev. time</th>
                                        <th>Complexity</th>                                        
                                    </tr>
                                </thead>
                                {%  if microservicios %}
                                    <tbody>
                                        {% for ms in microservicios %}  
                                        
                                            <tr>
                                                <td>{{ ms.id }}</td>                            
                                                <td>{{ ms.nombre }}</td>
                                                <td>{{ ms.numero_historias }}</td>
                                                <td>{{ ms.total_puntos }}</td>
                                                <td>{{ ms.tiempo_estimado_desarrollo|floatformat:2 }}</td>
                                                <td>{{ ms.complejidad_cognitiva|floatformat:2 }}</td>                                                                            
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                {% else %}
                                    <tbody>
                                        <tr>
                                            <td>There are not microservices.</td>
                                            <td></td>                        
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>                                            
                                        </tr>
                                    </tbody>
                                {% endif %}
                            </table>                        
                        </div>
                    </div> 
                </div>
            </div>            
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <center>                                    
                <a href="{% url 'microservicios:list-msapp' msapp.proyecto.usuario.id %}">
                    {% bootstrap_button "Cancel" button_type="button" button_class="btn-primary"%}
                </a>
            </center>                         
        </div>        
    </div>
{% endblock %}