{% extends "base.html" %}
{# Load the tag library #}
{% load staticfiles %}
{% load bootstrap3 %}

{% block page-title %}Microservices Backlog{% endblock %}
{% block page-description %}Clustering Algorithm - Group user stories in Microservices{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h2 class="box-title">Project: {{ msapp.proyecto.nombre }}</h2><br>            
            <h2 class="box-title">Application: {{ msapp.nombre }}</h2>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">                                            
            <div class="panel panel-info">                                                       
                <div class="panel-heading"><strong> Clustering Algorithm parameters </strong></div>
                <div class="panel-body">                    
                    <form method="post" id="frmClustering" name="frmClustering" data-post-url="{% url 'algoritmos:clustering-algoritmo' msapp.id %}" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><strong>Method:</strong></td>
                                    <td>
                                        <input type="text" id="metodo" name="metodo" value="{{ msapp.metodo.nombre }}" readonly="readonly" class="form-control"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Grouper parameter:</strong></td>
                                    <td>
                                        <input type="number" id="parameter" name="parameter"  min="0.50" max="1.00" step="0.05" value="0.85" class="form-control"/>
                                    </td>
                                </tr>                            
                                <tr>
                                    <td><strong>Text language:</strong></td>
                                    <td>
                                        <select id="lenguaje" name="lenguaje" class="form-control" >
                                            <option value="es" selected>Spanish</option>
                                            <option value="en">English</option>                                            
                                        </select>                                
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Semantic similarity on:</strong></td>
                                    <td>
                                        <select id="semantic" name="semantic" class="form-control" >
                                            <option value="lemma" selected>Lemmatization of entities</option>
                                            <option value="text" >Text of entities</option>                                                                                        
                                        </select>                                
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Spacy module: </strong></td>
                                    <td>
                                        <select id="modulo" name="modulo" class="form-control" >
                                            <option value="sm" >Small (Faster)</option>
                                            <option value="md" selected>Medium (More precise)</option>                                                                                        
                                        </select>                                
                                    </td>
                                </tr>                                         
                            </tbody>
                        </table>
                        <center>
                            <div class="box-footer">
                                <input type="submit" id="btnGenerar" name="btnGenerar" value="Generate" class="btn btn-primary"/>
                                <a href="{% url 'microservicios:list-msapp' msapp.proyecto.usuario.id %}">
                                    {% bootstrap_button "Cancel" button_type="button" button_class="btn-primary"%}
                                </a>
                            </div>
                        </center>
                    </form>                                                            
                </div>
            </div>            
            <div id="divResultado">

            </div>
        </div>                        
    </div>
{% endblock %}
{% block specific-js %}
    <script>
        
        $('#frmClustering').on( 'submit', function(){
            $('#divResultado').html("<center>Grouping user stories...<br><img class='img-circle' alt='Loading' src='/static/images/cargando.gif' width='50' height='50'><br></center>");
            
            var post_url = $('#frmClustering').data("post-url");
            var formData = new FormData(this);

            $.ajax({
                url: post_url,
                type: "POST", 
                data: formData,
                processData: false,
                contentType: false,

                success:function(response){
                    $('#divResultado').html(response.content.message);
                }

            })

            return false;
        });
                
    </script>    
    <script>
        function regresar(){            
            location.href = "{% url 'microservicios:list-msapp' msapp.proyecto.usuario.id %}";
        }
    </script>
{% endblock %}