{% extends "base.html" %}
{# Load the tag library #}
{% load staticfiles %}
{% load bootstrap3 %}

{% block page-title %}Microservices Backlog{% endblock %}
{% block page-description %}Clustering Algorithm - Group user stories in Microservices{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h2 class="box-title">Project: {{ msapp.proyecto.nombre }}</h2><br>            
            <h2 class="box-title">Application: {{ msapp.nombre }}</h2>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">                                            
            <div class="panel panel-info">                                                       
                <div class="panel-heading"><strong> Clustering Algorithm parameters </strong></div>
                <div class="panel-body">                    
                    <form method="post" id="frmClustering" name="frmClustering" data-post-url="{% url 'algoritmos:clustering-algoritmo' msapp.id %}" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><strong>Method:</strong></td>
                                    <td>
                                        <input type="text" id="metodo" name="metodo" value="{{ msapp.metodo.nombre }}" readonly="readonly" class="form-control"/>                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Similarity Grouper parameter:</strong></td>
                                    <td>
                                        <input type="number" id="parameter" name="parameter"  min="0.50" max="1.00" step="0.05" value="0.85" class="form-control"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Coupling Grouper parameter:</strong></td>
                                    <td>
                                        <input type="number" id="coup_parameter" name="coup_parameter"  min="0.30" max="1.00" step="0.05" value="0.50" class="form-control"/>
                                    </td>
                                </tr>                            
                                <tr>
                                    <td><strong>Text language:</strong></td>
                                    <td>
                                        <select id="lenguaje" name="lenguaje" class="form-control" >
                                            <option value="es" selected>Spanish</option>
                                            <option value="en">English</option>                                            
                                        </select>                                
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Semantic similarity on:</strong></td>
                                    <td>
                                        <select id="semantic" name="semantic" class="form-control" >
                                            <option value="lemma" >Lemmatization of entities</option>
                                            <option value="text" selected>Text of entities</option>                                                                                        
                                        </select>                                
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Spacy module: </strong></td>
                                    <td>
                                        <select id="modulo" name="modulo" class="form-control" >
                                            <option value="sm">Small (Faster)</option>
                                            <option value="md" selected>Medium (More precise)</option>                                                                                        
                                        </select>                                
                                    </td>
                                </tr>                                         
                            </tbody>
                        </table>
                        <center>
                            <div class="box-footer">
                                <input type="hidden" id="token" name="token" value="{{ csrf_token }}" readonly="readonly" class="form-control"/>
                                <input type="submit" id="btnGenerar" name="btnGenerar" value="Group by Semantic Similarity" class="btn btn-primary"/>
                                <a href="{% url 'microservicios:list-msapp' msapp.proyecto.usuario.id %}">
                                    {% bootstrap_button "Cancel" button_type="button" button_class="btn-primary"%}
                                </a>
                            </div>
                        </center>
                    </form>                                                            
                </div>
            </div>            
            <div id="divResultado">

            </div>
            <div id="divResultadoCalls">

            </div>
        </div>                        
    </div>
{% endblock %}
{% block specific-js %}
    <script>
        
        $('#frmClustering').on( 'submit', function(){
            txtHtml = "<center>";
            txtHtml += "<div class='panel panel-warning'>";
            txtHtml += "<div class='panel-heading'>"
            txtHtml += "Grouping user stories by semantic similarity...";
            txtHtml += "</div>";
            txtHtml += "<div class='panel-body'>";
            txtHtml += "<img class='img-circle' alt='Loading' src='/static/images/cargando.gif' width='50' height='50'>";            
            txtHtml += "</div>";
            txtHtml += "</div>";
            txtHtml += "</center>";

            errHtml = "<center>";
            errHtml += "<div class='panel panel-danger'>";
            errHtml += "<div class='panel-heading'>"
            errHtml += "Failed to group user stories in microservices.";
            errHtml += "</div>";
            errHtml += "<div class='panel-body'>";
            errHtml += "<img class='img-circle' alt='Error' src='/static/images/error_16.png' width='50' height='50'>";            
            errHtml += "</div>";
            errHtml += "</div>";
            errHtml += "</center>";

            $('#divResultado').html(txtHtml);            
            
            var post_url = $('#frmClustering').data("post-url");
            var formData = new FormData(this);

            $.ajax({
                url: post_url,
                type: "POST", 
                data: formData,
                processData: false,
                contentType: false,

                success:function(response){
                    $('#divResultado').html(response.content.message);
                },

                error: function (response) {                    
                    $('#divResultado').html(errHtml);
                }

            });

            return false;
        });
                
    </script>    
    <script>
        function regresar(){            
            location.href = "{% url 'microservicios:list-msapp' msapp.proyecto.usuario.id %}";
        }        

        function clustercalls(){
            
            txtHtml = "<center>";
            txtHtml += "<div class='panel panel-warning'>";
            txtHtml += "<div class='panel-heading'>"
            txtHtml += "Calculating calls between Microservices then group them...";
            txtHtml += "</div>";
            txtHtml += "<div class='panel-body'>";
            txtHtml += "<img class='img-circle' alt='Loading' src='/static/images/cargando.gif' width='50' height='50'>";            
            txtHtml += "</div>";
            txtHtml += "</div>";
            txtHtml += "</center>";

            errHtml = "<center>";
            errHtml += "<div class='panel panel-danger'>";
            errHtml += "<div class='panel-heading'>"
            errHtml += "Failed to group microservices by coupling metrics.";
            errHtml += "</div>";
            errHtml += "<div class='panel-body'>";
            errHtml += "<img class='img-circle' alt='Loading' src='/static/images/error_16.png' width='20' height='20'>";  
            errHtml += "<br>System Error";
            errHtml += "</div>";
            errHtml += "</div>";
            errHtml += "</center>";

            $('#divResultadoCalls').html(txtHtml);            
            
            var post_url = "{% url 'algoritmos:clustering-calls' msapp.id %}";
            var formulario = $('#frmClusteringCalls')            
            var msapp = frmClusteringCalls.msapp.value;
            var param = frmClusteringCalls.param.value;
            var leng = frmClusteringCalls.leng.value;
            var mdlo = frmClusteringCalls.mdlo.value;
            var coup_parameter = frmClusteringCalls.coup_param.value;
            var coup_parameter = frmClusteringCalls.coup_param.value;
            var semantica = frmClusteringCalls.semantic.value;                
                           
            post_url += '?coup_parameter=' + coup_parameter + '&param='+param + '&semantica='+ semantica + '&leng='+ leng + '&mdlo='+ mdlo;
            $.ajax({
                url: post_url,                
                type: "GET", 
                dataType: 'json',
                data: {'msapp': msapp, 'param': param, 'leng':leng, 'mdlo': mdlo, 'coup_parameter': coup_parameter, 'param':param, "semantica":semantica },
                processData: false,
                contentType: false,

                success:function(response){
                    $('#divResultadoCalls').html(response.content.message);
                },

                error: function (response) {                    
                    $('#divResultadoCalls').html(errHtml);
                }
            });

            return false;
        }
    </script>
{% endblock %}